body {
  background: #101010;
  color: #fff;
  margin: 0;
  font-family: 'Archivo', 'Helvetica', 'Arial', sans-serif;
}
a {
  color:#ffcc00;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a img{
  border: 0px;
}

p {
  line-height: 1.625rem;
  margin: 0;
}
h1, h2, h3, h4, h5, input, button {
  font-family: 'Archivo', 'Helvetica', 'Arial', sans-serif;
}

::-moz-selection {
  background-color: #ffcc00;
  color: #101010;
}
::selection {
  background-color: #ffcc00;
  color: #101010;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #101010;
  border-left: 1px solid rgba(255,255,255,.075)
}
::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,.075);
}
::-webkit-scrollbar-thumb:hover {
  background: #ffcc00; 
}
.imaka-header .mdl-menu__container {
  z-index: 50;
  margin: 0 !important;
}


.mdl-textfield--expandable {
  width: auto;
}

.imaka-mobile-title {
  display: none !important;
}


.imaka-logo-image {
  height: 28px;
  width: 140px;
}

.imaka-header.mdl-layout__header--waterfall {
  overflow: visible;
  background: #101010;
  box-shadow: -6px 20px 40px 0 rgba(0,0,0,.1);
  border-bottom:1px solid rgba(255,255,255,.075);
}


.imaka-header.mdl-layout__header--waterfall.is-casting-shadow.is-compact {
  box-shadow: -6px 20px 40px 0 rgba(0,0,0,.1);
}

  .imaka-header.mdl-layout__header--waterfall .material-icons {
    color: #fff !important;
  }

  .imaka-header.mdl-layout__header--waterfall .mdl-layout__drawer-button {
    background: transparent;
    color: #ffcc00;
    border-right: 1px solid rgba(255,255,255,.075);
    margin: 0;
    padding: 8px 12px;
  }
  .imaka-header.mdl-layout__header--waterfall .mdl-layout__drawer-button .material-icons {
    color: #ffcc00!important;
  }
  @media screen and (max-width: 1024px) {
    .mdl-layout__header.mdl-layout__header--waterfall .mdl-layout__drawer-button {
        padding: 4px;
    }
  }
  .imaka-header.mdl-layout__header--waterfall .mdl-navigation__link {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
  }

  .imaka-navigation-container {
    /* Simple hack to make the overflow happen to the left instead... */
    direction: rtl;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .imaka-navigation {
    /* ... and now make sure the content is actually LTR */
    direction: ltr;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 800px;
  }

  .imaka-search-box.is-focused + .imaka-navigation-container {
    opacity: 0;
    width: 100px;
  }


  .imaka-navigation .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
  }

    .imaka-navigation .mdl-navigation__link:hover {
      border-bottom: 4px solid #101010;
    }

  .imaka-search-box {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 16px;
    margin-right: 16px;
  }

  .featured-button {
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }


.imaka-drawer {
  border-right: none;
  background: #101010;
}

  .imaka-drawer-separator {
    height: 1px;
    background-color: rgba(255,255,255,.075);
    margin: 8px 0;
  }

  .imaka-drawer .mdl-navigation__link.mdl-navigation__link {
    font-size: 14px;
    color: #fff;
  }

  .mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    background: #ffcc00;
    color: #000;
  }

  .imaka-drawer span.mdl-navigation__link.mdl-navigation__link {
    color: #ffcc00;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    padding: 6px 16px;
  }
  .imaka-drawer .mdl-navigation__link.mdl-navigation__link .material-icons {
    margin-right: 10px;
  }
  .imaka-drawer .mdl-layout-title {
    position: relative;
    background: #ffcc00;
    height: 160px;
  }

    .imaka-drawer .imaka-logo-image {
      position: absolute;
      bottom: 16px;
    }

.imaka-be-together-section {
  position: relative;
  height: 800px;
  width: auto;
  background-color: #f3f3f3;
  background: url('images/family.jpg') center 30% no-repeat;
  background-size: cover;
}
.imaka-be-together-section .imaka-banner {
  margin:0 auto;
  max-width: 1250px;
}
.logo-font {
  font-family: 'Archivo', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  color: #fff;
  font-weight: 500;
  z-index: 3;
}

.logo-font.slogan-imaka {
  font-size: 5rem;
  line-height: 5.5rem;
  padding-top: 160px;
  font-weight: 300;
  color: hsla(0,0%,100%,0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffcc00;

}
.logo-font.about {
  margin-top: 30px;
  font-size: 20px;
  line-height: 1.75rem;
  font-weight: 400;
  letter-spacing: .3px;
  width: calc(100% - 250px);
}
.join-circle {
  font-size: 16px;
  margin-top: 50px;
}
  .join-circle a {
    text-decoration: none;
    color: #fff!important;
    border:2px solid hsla(0,0%,100%,.2);
    border-radius: 8px;
    font-weight: 400;
    padding: 14px 20px;
    font-family: "Roboto";
    letter-spacing: .0625rem;
    text-align: center;
    transition: all 0.35s ease-in-out;
  }
  .join-circle a:hover {
    background: #ffcc00;
    color: #101010!important;
    border-color: #ffcc00;
    box-shadow: -6px 20px 40px 0 #ffcc0010;
  }

.our-family {
  position: relative;
  background: url('images/family.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.our-family-det {
  bottom: 0;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  background-color: #37474f;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 4px 41px 47px -29px rgba(0,0,0,.1);
  padding: 32px;
  z-index: 10;
  transform: translateY(150px);
  color: #101010;
}

.our-family-det-text {
  max-width: 800px;
  padding: 24px;
  text-align: left;
  color: #101010;
}

  .our-family-det-text p {
    padding-top: 8px;
    font-size: 18px;
  }
  .our-family-det-text h3 {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
  }

  .imaka-link .material-icons {
    position: relative;
    top: -1px;
    vertical-align: middle;
  }
  a:hover .material-icons {
    transform: rotate(-45deg);
  }

.imaka-alt-link {
  text-decoration: none;
  font-size: 16px;
}

  .imaka-alt-link .material-icons {
    position: relative;
    top: 6px;
  }

.our-history {
  text-align: center;
}

.our-history h4 {
  font-weight: 500;
  font-size: 24px;
  margin: 0;
}
.our-history-text {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px 80px 0;
}
  .our-history-text p {
    padding-top: 16px;
    font-size: 16px;
  }

.our-history-image {
  background: url('images/devices.jpg') center top no-repeat;
  background-size: cover;
  height: 400px;
}
.featured-section {
  border-bottom: 1px solid rgba(255,255,255,.075);
  border-top: 1px solid rgba(255,255,255,.075);
  padding: 60px 0;
}
.featured-section .imakard-container {
  max-width: 1280px;
  margin:0 auto;
}
.featured-section .imakard-container .mdl-card .mdl-card__media {
    background-color: transparent;
    left: 0%;
    position: absolute;
    top: 0%;
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: -webkit-transform .25s ease-in;
    transition: transform .25s ease-in;
    transition: transform .25s ease-in,-webkit-transform .25s ease-in;
    max-width: 100%;
    opacity: 0.2;
}
.featured-section .imakard-container .mdl-cell--6-col {
  margin:0;
  width:calc(50% - 3px);
  box-shadow:none;
  margin-right:6px;
}

@media (max-width: 479px) {
  .featured-section .imakard-container .mdl-cell--6-col {
      width: 100%!important;
  }
}
.featured-section .imakard-container .mdl-cell--6-col:last-child {
  margin-right:0;
}
.featured-section .imakard-container .mdl-card__supporting-text {
  padding:80px 80px 20px;
}
.featured-section .imakard-container .mdl-card__title {
  padding:0 80px;
}
  .section-title {
    padding-bottom: 24px;
    font-weight: 300;
  }
  .section-title h5 {
    font-size: 3.5rem;
    line-height: 4rem;
    font-weight: 300;
    padding-bottom: 4px;
    letter-spacing: .0625rem;
    margin: 0;
    -webkit-text-stroke-width: .75px;
    -webkit-text-stroke-color: #fff;
    color: hsla(0,0%,100%,0);

  }
  .section-title h6 {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.25rem;
    margin: 0;
    margin-bottom: 16px;
  }
.featured {
  padding: 0;
}
  .featured .imakard-container {
    transform: translateY(-120px);
    max-width: 1280px;
    margin: 0 auto;
  }
  .featured .imakard-container a .material-icons {
    margin-top: 30px;
  }
  .imakard-container .mdl-card .mdl-card__title p {
    font-weight: 500;
    font-size: 20px;
  }
  .imakard-container .mdl-card .mdl-card__title {
    padding-bottom: 25px;
    z-index:3;
  }
  .imakard-container .mdl-card {
    min-height: inherit;
    border-radius: 5px;
  }
  .imakard-container .parallax {
    background-color: transparent;
    border-radius: 50%;
    content: "";
    height: 10rem;
    left: -27%;
    position: absolute;
    top: 130%;
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: -webkit-transform .25s ease-in;
    transition: transform .25s ease-in;
    transition: transform .25s ease-in,-webkit-transform .25s ease-in;
    width: 5.5rem;
  }
  .imakard-container a, .imakard-container span  {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-flex: 2;
    flex-grow: 2;
    position: relative;
    text-decoration: none;
    z-index: 1;
  }
  .imakard-container a {
    display: block;
    color: #fff;
  }
  .imakard-container .mdl-card:hover a {
    color: #000;
  }
  .imakard-container a:hover {
    color:#000!important;
  }
  .imakard-container .mdl-card:hover .parallax {
    background-color: #ffcc00;
    -webkit-transform: scale(25);
    transform: scale(25);
    transition: -webkit-transform .35s ease-out;
    transition: transform .35s ease-out;
    transition: transform .35s ease-out,-webkit-transform .45s ease-out;
  }
  .imakard-container .mdl-card__media {
    overflow: hidden;
    background: transparent;
    z-index: 1;
  }

    .imakard-container .mdl-card__media img {
      width: 100%;
    }

  .imakard-container .mdl-card__title {
    background: transparent;
    height: auto;
    padding: 0 32px;
  }

  .imakard-container .mdl-card__title-text {
    color: #fff;
    height: auto;
    font-size:18px;
    font-weight: 500;
    z-index: 1;
  }

  .imakard-container .mdl-card:hover .mdl-card__title-text {
    color: #000;
  }

  .imakard-container .mdl-card__supporting-text {
    height: auto;
    color: #fff;
    padding:32px 32px 16px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.25rem;
    text-transform: uppercase;
    width: calc(100% - 64px);
    z-index: 4;
  }
  .imakard-container .mdl-card:hover .mdl-card__supporting-text {
    color: #000;
  }

  .imakard-container .mdl-card__actions {
    bottom: 0;
    padding:80px;
    padding-top: 0;
  }

  .imakard-container .mdl-card__actions a {
    border-top: none;
    font-size: 16px;
  }

.team-section {
  border-bottom: 1px solid rgba(255,255,255,.075);
  background: #101010;
  padding: 60px 0;
}
.team-section .team-container {
  max-width: 1280px;
  margin: 0 auto;
}
.team-section .mdl-card {
  min-height: auto;
  border-radius: 8px;
  margin:0 10px 10px 0;
}
.team-section .mdl-card::after {
  content: "";
  width: 0;
  height: 2px;
  background: #ffcc00;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.25s;
  border-bottom-left-radius: 10px;
}
.team-section .mdl-card:hover::after {
  width: calc(100% - 120px);
}
.team-section .mdl-card::before {
  content: "";
  width: 0;
  height: 2px;
  background: #ffcc00;
  position: absolute;
  bottom: 0;
  left:0;
  transition: all 0.25s;
  border-top-right-radius: 10px;
}
.team-section .mdl-card:hover::before {
  width: calc(100% - 120px);
}
.team-section .information {
    display: -webkit-box;
    display: flex;
    max-height: 100%;
    overflow: hidden;
    position: relative;
}
.team-section .information .profile-img {
    display: -webkit-box;
    display: flex;
    height: 120px;
    -webkit-box-pack: center;
    justify-content: center;
    transition: all 0.35s ease-in-out;
    width: 120px;
    z-index: 2;
    vertical-align: bottom;
}
.team-section .information:hover .profile-img {
  transform: translateX(-240px) rotate(20deg);
}
.team-section .information .social-media {
  position: absolute;
  margin-top: 40px;
  margin-left: 25px;
  z-index: 1;
  opacity: 0;
}
.team-section .information:hover .social-media {
  opacity: 1;
}
.team-section .information .social-media a {
  border-radius: 8px;
  width: 35px;
  height: 35px;
  display: block;
  float: left;
  margin-right: 3px;
}
.team-section .information .social-media .fb {
  background: #ffcc00 url('images/fb.png') center no-repeat;
}
.team-section .information .social-media .ig {
  background: #ffcc00 url('images/ig.png') center no-repeat;
}
.team-section .information .social-media a svg {
  vertical-align: middle;
  margin-top: 8px;
  margin-left: 8px;
}
.team-section .summary {
  margin:20px 25px;
}
.team-section .summary a {
  position: absolute;
  right: 10px;
}
.team-section .summary h4 {
  margin:0;
  font-size:18px;
  font-weight: 500;
}
.team-section .summary label {
  font-size:12px;
  text-transform: uppercase;
}
.team-section .summary h5 {
  margin: 0;
  font-size:14px;
}
.team-section .summary h5, .team-section .summary h4, .team-section .summary label {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-flex: 2;
    flex-grow: 2;
    position: relative;
    text-decoration: none;
    z-index: 1;
}
@media only screen and (min-width: 1024px) {
  .team-section .information {
      -webkit-box-pack: start;
      justify-content: flex-start;
  }
}
.imaka-footer {
  background: #101010;
  padding: 40px 80px;
}
  .imaka-footer a {
    font-size:12px;
  }
  .imaka-footer p {
    font-size:12px;
    letter-spacing: 1.7;
    font-weight: 400;
  }
  .imaka-footer a:hover {
    color: #ffcc00;
  }
  .imaka-footer .mdl-mega-footer--middle-section {
    max-width: 1280px;
    margin: 0 auto;
  }

  .imaka-footer .mdl-mega-footer--bottom-section {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
  }

  .imaka-footer .mdl-mega-footer--bottom-section a {
    margin-right: 2em;
  }


.imaka-link-menu:hover {
  cursor: pointer;
}

@media (max-width: 900px) {
  .imaka-navigation-container {
    display: none;
  }

  .imaka-title {
    display: none !important;
  }

  .imaka-mobile-title {
    display: block !important;
    position: absolute;
    left: calc(50% - 70px);
    top: 12px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .imaka.imaka-search-box.is-focused ~ .imaka-mobile-title,
  .imaka-search-box.is-focused + .imaka-navigation-container + .imaka-mobile-title {
    opacity: 0;
  }

  .imaka-search-box.is-focused {
    width: calc(100% - 48px);
  }

  .imaka-search-box .mdl-textfield__expandable-holder {
    width: 100%;
  }

  .imaka-be-together-section {
    height: calc(100vh - 56px);
  }

  .logo-font.slogan-imaka {
    font-size: 3.75rem;
    line-height: 3.3rem;
    padding-top: 100px;
  }

  .join-circle img {
    height: 12px;
  }

  .imaka-fab {
    display: none;
  }

  .our-family-det-text {
    margin-left: 0;
    padding: 16px;
  }
}
.discover-us {
  border-bottom: 1px solid rgba(255,255,255,.075);
  background: #101010;
}
.discover-us-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 30px 0;
}
.discover-us-container .mdl-card {
  box-shadow: none;
}
.discover-us-container .bottom {
  margin-top: 30px;
}
.discover-us-container .bottom a {
  text-align: center;
  margin-right: 5px;
  transition: all 0.35s ease-in-out;
  font-size: 20px;
}
.discover-us-container .bottom a:hover {
  box-shadow: -3px 5px 10px 0 rgba(0,0,0,.1);
}
.discover-us-container .bottom a img {
  vertical-align: middle;
  margin-top: 13px;
}
@media (max-width: 839px) {
  .featured .imakard-container {
    transform: translateY(0);
  }
  .imakard-container a:hover ~ .parallax {
    -webkit-transform: scale(30);
    transform: scale(30);
  }
  .imaka-footer {
    padding: 20px 25px;
  }
  .logo-font.about {
    width: 100%;
    font-size: 16px;
  }
  .discover-us-container,.team-section, .featured-section {
    padding: 0;
  }
  .team-section .mdl-card {
    margin-right: 0;
  }
  .mdl-cell--12-col, .mdl-cell--12-col-phone.mdl-cell--12-col-phone {
    width: 100%
  }
  .section-title {
    padding: 20px 30px;
  }
  .mdl-grid {
    padding: 20px;
  }
  .featured-section .imakard-container .mdl-card__supporting-text {
    padding: 30px 30px 10px;
  }
  .featured-section .imakard-container .mdl-card__title {
    padding: 0 30px;
  }
  .featured-section .imakard-container .mdl-card__actions {
    padding: 30px;
  }
  .section-title h5 {
    font-size: 24px;
    line-height: 24px;
    color: #ffcc00;
    -webkit-text-stroke-width: 0;
  }
  .section-title h6 {
    font-size:13px;
    margin-top: 20px;
  }
  .featured .imakard-container .mdl-card:first-child {
    border-bottom: 2px solid #ffcc00;
  }
  .featured .imakard-container .mdl-card+.mdl-card .mdl-card__supporting-text {
    display: none;
  }
  .featured .imakard-container .mdl-card+.mdl-card .mdl-card__title-text {
    padding-top: 30px;
  }
  .featured .imakard-container .mdl-card+.mdl-card .mdl-card__title-text i {
    display: none;
  }
}
@media (max-width: 1281px) {
  .imaka-be-together-section .imaka-banner {
    padding: 0 40px;
  }
}
.mdl-card {
  background: #131313;
}
@media (min-width: 840px) {
  .mdl-grid {
      padding: 0;
  }
}
.address {
  padding: 20px 30px;
  border-radius: 8px;
  margin:0;
}

.imaka-search-box .mdl-textfield__input {
  color: #fff;
  border-bottom: 1px solid rgba(255,255,255,.075);
  font-family: "Archivo", 'Helvetica', 'Arial', sans-serif;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #000;
}
.preloader .loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font: 14px arial;
}
.blub {
  margin: 80px auto;
  position: relative;
  width: 150px;
  height: 150px;
}
.blub-1,
.blub-2,
.blub-3 {
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  transform: scale(0.8);
  animation: blub 1.5s ease-in-out infinite;
}
.blub-1 {
  background: #ffcc0090;
  width: 150px;
  height: 150px;
}
.blub-2 {
  top: calc(150px * 0.1);
  left: calc(150px * 0.1);
  width: calc(150px * 0.8);
  height: calc(150px * 0.8);
  background: #ffcc0060;
  animation-delay: 0.2s;
}
.blub-3 {
  top: calc(150px * 0.2);
  left: calc(150px * 0.2);
  width: calc(150px * 0.6);
  height: calc(150px * 0.6);
  background: #ffcc0030;
  animation-delay: 0.4s;
}
@keyframes blub {
  0% {
    opacity: 0.5;
    transform: scale(0.8);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  }
  75% {
    opacity: 1;
    transform: scale(1);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  }
  100% {
    opacity: 0.5;
    transform: scale(0.8);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  }
}