html {
  color:#212121;
}
body {
  margin: 0;
  font-family: "Roboto",sans-serif;
}
a {
  color:#ffcc00;
}
a img{
  border: 0px;
}

p {
  line-height: 1.625rem;
  margin: 0;
}

::-moz-selection {
  background-color: #ffcc00;
  color: #212121;
}

::selection {
  background-color: #ffcc00;
  color: #212121;
}

.imaka-search-box .mdl-textfield__input {
  color: rgba(0, 0, 0, 0.87);
}

.imaka-header .mdl-menu__container {
  z-index: 50;
  margin: 0 !important;
}


.mdl-textfield--expandable {
  width: auto;
}

.imaka-mobile-title {
  display: none !important;
}


.imaka-logo-image {
  height: 28px;
  width: 140px;
}

.imaka-header.mdl-layout__header--waterfall {
  overflow: visible;
  background: #212121;
}

.imaka-header.mdl-layout__header--waterfall.is-casting-shadow.is-compact {
  box-shadow: -6px 20px 40px 0 rgba(0,0,0,.1);
}

  .imaka-header.mdl-layout__header--waterfall .material-icons {
    color: #fff !important;
  }

  .imaka-header.mdl-layout__header--waterfall .mdl-layout__drawer-button {
    background: #ffcc00;
    color: #212121;
    margin: 0;
    padding: 8px 12px;
  }
  .imaka-header.mdl-layout__header--waterfall .mdl-layout__drawer-button .material-icons {
    color: #212121!important;
  }
  @media screen and (max-width: 1024px) {
    .mdl-layout__header.mdl-layout__header--waterfall .mdl-layout__drawer-button {
        padding: 4px;
    }
  }
  .imaka-header.mdl-layout__header--waterfall .mdl-navigation__link {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
  }

  .imaka-navigation-container {
    /* Simple hack to make the overflow happen to the left instead... */
    direction: rtl;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .imaka-navigation {
    /* ... and now make sure the content is actually LTR */
    direction: ltr;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 800px;
  }

  .imaka-search-box.is-focused + .imaka-navigation-container {
    opacity: 0;
    width: 100px;
  }


  .imaka-navigation .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
  }

    .imaka-navigation .mdl-navigation__link:hover {
      border-bottom: 4px solid #212121;
    }

  .imaka-search-box {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 16px;
    margin-right: 16px;
  }

  .featured-button {
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }


.imaka-drawer {
  border-right: none;
}

  .imaka-drawer-separator {
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0;
  }

  .imaka-drawer .mdl-navigation__link.mdl-navigation__link {
    font-size: 14px;
    color: #212121;
  }

  .imaka-drawer span.mdl-navigation__link.mdl-navigation__link {
    color: #212121;
    text-transform: uppercase;
    font-size: 14px;
  }

  .imaka-drawer .mdl-layout-title {
    position: relative;
    background: #ffcc00;
    height: 160px;
  }

    .imaka-drawer .imaka-logo-image {
      position: absolute;
      bottom: 16px;
    }

.imaka-be-together-section {
  position: relative;
  height: 800px;
  width: auto;
  background-color: #f3f3f3;
  background: url('images/family.jpg') center 30% no-repeat;
  background-size: cover;
}

.logo-font {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  color: #fff;
  font-weight: 500;
}

.slogan-imaka {
  font-size: 5rem;
  line-height: 5.5rem;
  padding-top: 160px;
  font-weight: 500;
}

.join-circle {
  font-size: 21px;
  padding-top: 370px;
}

  .join-circle a {
    text-decoration: none;
    color: #1cb39b;
    font-weight: 500;
    padding: 14px 20px;
    border-radius: 5px;
    background: #fff;
    font-family: "Roboto";
  }

.our-family {
  position: relative;
  background: url('images/family.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.our-family-det {
  bottom: 0;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  background-color: #37474f;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 4px 41px 47px -29px rgba(0,0,0,.1);
  padding: 32px;
  z-index: 10;
  transform: translateY(150px);
  color: #212121;
}

.our-family-det-text {
  max-width: 800px;
  padding: 24px;
  text-align: left;
  color: #212121;
}

  .our-family-det-text p {
    padding-top: 8px;
    font-size: 18px;
  }
  .our-family-det-text h3 {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
  }

.imaka-link {
  text-decoration: none;
  color: #212121 !important;
}

  .imaka-link:hover {
    color: #ffcc00 !important;
  }

  .imaka-link .material-icons {
    position: relative;
    top: -1px;
    vertical-align: middle;
  }

.imaka-alt-link {
  text-decoration: none;
  font-size: 16px;
}

  .imaka-alt-link .material-icons {
    position: relative;
    top: 6px;
  }

.our-history {
  text-align: center;
}

.our-history h4 {
  font-weight: 500;
  font-size: 24px;
  margin: 0;
}
.our-history-text {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px 80px 0;
}
  .our-history-text p {
    padding-top: 16px;
    font-size: 16px;
  }

.our-history-image {
  background: url('images/devices.jpg') center top no-repeat;
  background-size: cover;
  height: 400px;
}
.featured-section {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
  .featured-section .section-title,   .featured .section-title , .team-section .section-title {
    margin-left: 40px;
    padding-bottom: 24px;
    font-weight: 300;
  }
  .featured-section .section-title h5, .team-section .section-title h5 {
    font-size: 3.5rem;
    line-height: 4rem;
    font-weight: 300;
    padding-bottom: 4px;
    letter-spacing: .0625rem;
    margin: 0;
  }
  .featured-section .section-title h6, .team-section .section-title h6 {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.25rem;
    margin: 0;
    margin-bottom: 16px;
  }
.featured {
  padding: 0;
}
  .featured .imakard-container {
    transform: translateY(-120px);
    max-width: 1280px;
    margin: 0 auto;
  }
  .featured .imakard-container a .material-icons {
    margin-top: 30px;
  }
.imakard-container {
}
  .imakard-container .mdl-card .mdl-card__title p {
    font-weight: 500;
    font-size: 20px;
  }
  .imakard-container .mdl-card .mdl-card__title {
    padding-bottom: 32px;
  }
  .imakard-container .mdl-card {
    min-height: inherit;
    border-radius: 5px;
  }
  .imakard-container .parallax {
    background-color: #ffcc00;
    border-radius: 50%;
    content: "";
    height: 4.25rem;
    left: -27%;
    position: absolute;
    top: 35%;
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: -webkit-transform .25s ease-in;
    transition: transform .25s ease-in;
    transition: transform .25s ease-in,-webkit-transform .25s ease-in;
    width: 4.25rem;
  }
  .imakard-container a, .imakard-container span  {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-flex: 2;
    flex-grow: 2;
    position: relative;
    text-decoration: none;
    z-index: 1;
  }
  .imakard-container a {
    display: block;
    color: #000;
  }
  .imakard-container a:hover {
    color:#444!important;
  }
  .imakard-container a:hover ~ .parallax {
    -webkit-transform: scale(20);
    transform: scale(20);
    transition: -webkit-transform .35s ease-out;
    transition: transform .35s ease-out;
    transition: transform .35s ease-out,-webkit-transform .45s ease-out;
  }

  .imakard-container .mdl-shadow--3dp {
    box-shadow:-6px 20px 40px 0 rgba(0,0,0,.1)
  }
  .imakard-container .mdl-card__media {
    overflow: hidden;
    background: transparent;
    z-index: 1;
  }

    .imakard-container .mdl-card__media img {
      width: 100%;
    }

  .imakard-container .mdl-card__title {
    background: transparent;
    height: auto;
    padding: 0 32px;
  }

  .imakard-container .mdl-card__title-text {
    color: black;
    height: auto;
    font-size:18px;
    font-weight: 500;
    z-index: 1;
  }

  .imakard-container .mdl-card__supporting-text {
    height: auto;
    color: black;
    padding:32px 32px 16px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.25rem;
    text-transform: uppercase;
    width: calc(100% - 64px);
  }

  .imakard-container .mdl-card__actions {
    bottom: 0;
    padding:32px;
    padding-top: 0;
  }

  .imakard-container .mdl-card__actions a {
    border-top: none;
    font-size: 16px;
  }

.team-section {
  max-width: 1280px;
  margin: 60px auto 30px;
}
.team-section .mdl-card {
  min-height: auto;
  box-shadow: 0 12px 32px 0 rgba(0,0,0,.08);
  border-radius: 5px;
}
.team-section .information {
    display: -webkit-box;
    display: flex;
    max-height: 100%;
    overflow: hidden;
    position: relative;
}
.team-section .information .profile-img {
    display: -webkit-box;
    display: flex;
    height: 120px;
    -webkit-box-pack: center;
    justify-content: center;
    transition: all 0.45s ease-in-out;
    width: 120px;
    z-index: 2;
    vertical-align: middle;
}
.team-section .information:hover .profile-img {
  transform: translateX(-400px);
}
.team-section .information .social-media {
  position: absolute;
  margin-top: 40px;
  margin-left: 25px;
  z-index: 1;
  opacity: 0;
}
.team-section .information:hover .social-media {
  opacity: 1;
}
.team-section .information .social-media a {
  background: #212121;
  border-radius: 100px;
  width: 40px;
  height: 40px;
  display: block;
  float: left;
  margin-right: 3px;
}
.team-section .information .social-media a svg {
  vertical-align: middle;
  margin-top: 8px;
  margin-left: 8px;
}
.team-section .information:after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 20px;
    left: 20%;
    pointer-events: none;
    position: absolute;
    top: 40%;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s,-webkit-transform .4s;
    width: 20px;
}
.team-section .information:hover:after {
    background: #ffcc00;
    -webkit-transform: scale(100);
    transform: scale(100);
    transition: -webkit-transform .75s ease-in-out;
    transition: transform .75s ease-in-out;
    transition: transform .75s ease-in-out,-webkit-transform .75s ease-in-out;
}
.team-section .summary {
  margin:20px 25px;
}
.team-section .summary a {
  position: absolute;
  right: 10px;
}
.team-section .summary h4 {
  margin:0;
  font-size:18px;
  font-weight: 500;
}
.team-section .summary label {
  font-size:12px;
  text-transform: uppercase;
}
.team-section .summary h5 {
  margin: 0;
  font-size:14px;
}
.team-section .summary h5, .team-section .summary h4, .team-section .summary label {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-flex: 2;
    flex-grow: 2;
    position: relative;
    text-decoration: none;
    z-index: 1;
}
@media only screen and (min-width: 1024px) {
  .team-section .information {
      -webkit-box-pack: start;
      justify-content: flex-start;
  }
}
.imaka-footer {
  background-color: #f3f3f3;
  padding: 40px 80px;
}
  .imaka-footer a {
    font-size:12px;
  }
  .imaka-footer p {
    font-size:12px;
    letter-spacing: 1.7;
    font-weight: 400;
  }
  .imaka-footer a:hover {
    color: #ffcc00;
  }
  .imaka-footer .mdl-mega-footer--middle-section {
    max-width: 1280px;
    margin: 0 auto;
  }

  .imaka-footer .mdl-mega-footer--bottom-section {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
  }

  .imaka-footer .mdl-mega-footer--bottom-section a {
    margin-right: 2em;
  }


.imaka-link-menu:hover {
  cursor: pointer;
}

@media (max-width: 900px) {
  .imaka-navigation-container {
    display: none;
  }

  .imaka-title {
    display: none !important;
  }

  .imaka-mobile-title {
    display: block !important;
    position: absolute;
    left: calc(50% - 70px);
    top: 12px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .imaka.imaka-search-box.is-focused ~ .imaka-mobile-title,
  .imaka-search-box.is-focused + .imaka-navigation-container + .imaka-mobile-title {
    opacity: 0;
  }

  .featured-button {
    display: none;
  }

  .imaka-search-box.is-focused {
    width: calc(100% - 48px);
  }

  .imaka-search-box .mdl-textfield__expandable-holder {
    width: 100%;
  }

  .imaka-be-together-section {
    height: 350px;
  }

  .slogan-imaka {
    font-size: 26px;
    margin: 0 16px;
    padding-top: 24px;
  }

  .join-circle {
    padding-top: 200px;
    font-size: 16px;
  }

  .join-circle img {
    height: 12px;
  }

  .imaka-fab {
    display: none;
  }

  .our-family-det-text {
    margin-left: 0;
    padding: 16px;
  }

  .imaka-footer .mdl-mega-footer--bottom-section {
    display: none;
  }
}